* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Arimo-Bold';
  src: url("../scss/font/ARIMO-BOLD.TTF");
}

@font-face {
  font-family: 'Arimo-Regular';
  src: url("../scss/font/ARIMO-REGULAR.TTF");
}

@font-face {
  font-family: 'Montserrat-semiBold';
  src: url("../scss/font/MONTSERRAT-SEMIBOLD.TTF");
}

@font-face {
  font-family: 'Arimo-italic';
  src: url("../scss/font/ARIMO-ITALIC.TTF");
}

.menu {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #000000;
}

.menu .menu_block {
  margin-left: -23px;
}

.menu .drop_menu {
  background-color: #eec35a;
  z-index: 9999999;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Arimo-Bold";
}

.menu a:hover {
  color: #eec35a;
}

.menu .danh_sach {
  margin-left: 66px;
}

@media screen and (max-width: 1199px) {
  .menu .danh_sach {
    margin-left: 2px;
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .menu .danh_sach {
    margin-left: 35px;
  }
}

.menu .danh_sach .phone_nav i {
  margin: 0 5px;
}

.menu .danh_sach li {
  margin: 0 10px;
}

.menu .danh_sach li span {
  border-right: 0.5px solid #eec45abb;
  padding-right: 20px;
}

.menu .danh_sach .last_nav img {
  position: absolute;
  right: -3px;
  top: 19px;
}

@media screen and (max-width: 1199px) {
  .menu .danh_sach .last_nav img {
    position: absolute;
    right: 6px;
    top: 19px;
  }
}

@media screen and (max-width: 991px) {
  .menu .danh_sach .last_nav img {
    position: absolute;
    top: 299px;
    left: 96px;
  }
}

.menu .danh_sach .last_nav a {
  margin-left: -10px;
}

@media screen and (max-width: 991px) {
  .menu .danh_sach .last_nav a {
    margin-left: 1px;
  }
}

.menu .danh_sach .active a {
  color: #eec35a;
}

.menu .danh_sach .san_pham {
  padding: 0;
}

.menu .danh_sach .san_pham .menu_con {
  background-color: #eec35a;
}

.menu .danh_sach .san_pham .menu_con a {
  color: #ffffff;
  width: 100%;
  height: 51px;
  padding: 10px;
}

.menu .danh_sach .last_item {
  color: #eec35a;
}

header {
  background-color: #000000;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.category .input_dropdown {
  position: absolute;
  left: -10%;
  width: 108%;
  height: 100%;
}

@media screen and (max-width: 1199px) {
  .category .input_dropdown {
    position: absolute;
    left: -7%;
    width: 104.5%;
    height: 100%;
  }
}

@media screen and (max-width: 991px) {
  .category .input_dropdown {
    position: absolute;
    left: 5%;
    width: 91.5%;
    /* top: -22%; */
    top: -2px;
    height: 105%;
  }
}

@media screen and (max-width: 767px) {
  .category .input_dropdown {
    position: absolute;
    left: 23%;
    width: 71.5%;
    /* top: -22%; */
    top: 0px;
    height: 105%;
  }
}

@media screen and (max-width: 575px) {
  .category .input_dropdown {
    position: absolute;
    left: 23%;
    width: 68.5%;
    /* top: -22%; */
    top: 0px;
    height: 105%;
  }
}

@media screen and (max-width: 531px) {
  .category .input_dropdown {
    position: absolute;
    left: 20%;
    width: 73.5%;
    /* top: -22%; */
    top: 0px;
    height: 105%;
  }
}

@media screen and (max-width: 525px) {
  .category .input_dropdown {
    height: 300%;
    position: absolute;
    left: -45%;
    width: 136.5%;
    /* top: -22%; */
    top: -29px;
  }
}

.category .input_dropdown input {
  height: 100%;
}

@media screen and (max-width: 1199px) {
  .category .input_dropdown input {
    height: 100%;
  }
}

@media screen and (max-width: 991px) {
  .category .input_dropdown input {
    height: 97%;
  }
}

@media screen and (max-width: 525px) {
  .category .input_dropdown input {
    height: 45px;
  }
}

.category .input_dropdown button {
  border: 1px solid #756b5a;
}

@media screen and (max-width: 991px) {
  .category .input_dropdown button {
    height: 98%;
  }
}

@media screen and (max-width: 767px) {
  .category .input_dropdown button {
    display: none;
  }
}

.category .input_dropdown i {
  position: absolute;
  right: 0;
  z-index: 9;
  border: 1px solid black;
  font-size: 29px;
  padding: 6px;
  background-color: #000000;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .category .input_dropdown i {
    position: absolute;
    right: 0;
    z-index: 9;
    border: 1px solid black;
    font-size: 28px;
    padding: 6px;
    background-color: #000000;
    color: #ffffff;
  }
}

@media screen and (max-width: 991px) {
  .category .input_dropdown i {
    font-size: 29px;
  }
}

@media screen and (max-width: 767px) {
  .category .input_dropdown i {
    font-size: 30px;
  }
}

@media screen and (max-width: 525px) {
  .category .dropdown {
    display: none;
  }
}

.category .dropdown:hover .dropdown-menu {
  display: block;
}

.category .dropdown button {
  padding: 9px 78px;
  background-color: #000000;
  color: #ffffff;
  border: unset;
  outline: unset;
}

.category .dropdown button:hover {
  background-color: #eec35a;
  color: #000000;
}

.category .dropdown button span {
  font-family: "Arimo-Bold";
}

.category .dropdown button i {
  margin-left: -42px;
  margin-right: 18px;
}

.category .dropdown .dropdown-menu {
  background-color: #eec35a;
  padding: 0;
  top: -4px !important;
  width: 228px;
  -webkit-transform: translate3d(-1px, 42px, 0px) !important;
          transform: translate3d(-1px, 42px, 0px) !important;
}

.category .dropdown .dropdown-menu .dropdown-item {
  background-color: #eec35a;
  padding-right: 69px;
  position: relative;
  width: 108.5%;
  font-family: "Arimo-Bold";
}

.category .dropdown .dropdown-menu .dropdown-item i {
  position: absolute;
  top: 13px;
  right: 5px;
}

.category .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #000000;
  color: #eec35a;
}

.category .dropdown .dropdown-menu .drop_one .menu_group {
  display: none;
  color: white;
  background-color: black;
}

.category .dropdown .dropdown-menu .drop_one .menu_group li {
  list-style: none;
  font-family: "Arimo-Bold";
  font-size: 16px;
  padding: 8px 11px;
}

.category .dropdown .dropdown-menu .drop_one:hover .sub_menu {
  position: absolute;
  display: block;
  margin-top: -29px;
  margin-left: 13px;
}

.slide .owl-theme .owl-dots {
  position: absolute !important;
  bottom: 15px !important;
  left: 36px !important;
}

.slide .owl-theme .owl-dots .owl-dot span {
  background: #eec45a59 !important;
}

.slide .owl-theme .owl-dots .owl-dot span:hover {
  background-color: #eec45abb !important;
}

.slide .owl-theme .owl-dots .owl-dot.active span {
  background: #eec35a !important;
}

.slide .owl-theme .item_one {
  height: 200%;
  padding-top: 25px;
}

@media screen and (max-width: 755px) {
  .slide .owl-theme .item_one {
    width: 525px;
  }
}

@media screen and (max-width: 575px) {
  .slide .owl-theme .item_one {
    width: 543px;
  }
}

@media screen and (max-width: 573px) {
  .slide .owl-theme .item_one {
    width: 542px;
  }
}

@media screen and (max-width: 570px) {
  .slide .owl-theme .item_one {
    width: 539px;
  }
}

@media screen and (max-width: 550px) {
  .slide .owl-theme .item_one {
    width: 518px;
  }
}

@media screen and (max-width: 540px) {
  .slide .owl-theme .item_one {
    width: 508px;
  }
}

@media screen and (max-width: 530px) {
  .slide .owl-theme .item_one {
    width: 497px;
  }
}

@media screen and (max-width: 520px) {
  .slide .owl-theme .item_one {
    width: 488px;
  }
}

@media screen and (max-width: 520px) {
  .slide .owl-theme .item_one {
    width: 481px;
  }
}

@media screen and (max-width: 490px) {
  .slide .owl-theme .item_one {
    width: 459px;
  }
}

@media screen and (max-width: 470px) {
  .slide .owl-theme .item_one {
    width: 441px;
  }
}

@media screen and (max-width: 460px) {
  .slide .owl-theme .item_one {
    width: 428px;
  }
}

@media screen and (max-width: 440px) {
  .slide .owl-theme .item_one {
    width: 409px;
  }
}

@media screen and (max-width: 430px) {
  .slide .owl-theme .item_one {
    width: 400px;
  }
}

@media screen and (max-width: 410px) {
  .slide .owl-theme .item_one {
    width: 381px;
  }
}

@media screen and (max-width: 400px) {
  .slide .owl-theme .item_one {
    width: 369px;
  }
}

@media screen and (max-width: 380px) {
  .slide .owl-theme .item_one {
    width: 351px;
  }
}

@media screen and (max-width: 370px) {
  .slide .owl-theme .item_one {
    width: 341px;
  }
}

@media screen and (max-width: 360px) {
  .slide .owl-theme .item_one {
    width: 330px;
  }
}

@media screen and (max-width: 350px) {
  .slide .owl-theme .item_one {
    width: 319px;
  }
}

@media screen and (max-width: 340px) {
  .slide .owl-theme .item_one {
    width: 310px;
  }
}

@media screen and (max-width: 330px) {
  .slide .owl-theme .item_one {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .slide .owl-theme .item_one {
    width: 290px;
  }
}

.slide .owl-theme .item_one img {
  height: 473px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .slide .owl-theme .item_one img {
    width: 97%;
    height: 368px;
  }
}

.slide .owl-theme .item_one .slide_text {
  position: absolute;
  bottom: 71px;
  left: 32px;
}

.slide .owl-theme .item_one .slide_text h1 {
  color: #ffffff;
}

@media screen and (max-width: 991px) {
  .slide .owl-theme .item_one .slide_text h1 {
    font-size: 37px;
  }
}

@media screen and (max-width: 490px) {
  .slide .owl-theme .item_one .slide_text h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 420px) {
  .slide .owl-theme .item_one .slide_text h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 330px) {
  .slide .owl-theme .item_one .slide_text h1 {
    font-size: 18px;
  }
}

.slide .owl-theme .item_one .slide_text p {
  color: #ffffff;
  font-size: 23px;
}

@media screen and (max-width: 991px) {
  .slide .owl-theme .item_one .slide_text p {
    font-size: 20px;
  }
}

@media screen and (max-width: 490px) {
  .slide .owl-theme .item_one .slide_text p {
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  .slide .owl-theme .item_one .slide_text p {
    font-size: 16px;
  }
}

@media screen and (max-width: 380px) {
  .slide .owl-theme .item_one .slide_text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 330px) {
  .slide .owl-theme .item_one .slide_text p {
    font-size: 13px;
  }
}

.slide .owl-theme .item_one .slide_text button {
  padding: 6px 22px;
  background-color: #000000;
  color: #eec35a;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.slide .owl-theme .item_one .slide_text button:hover {
  color: #000000;
  background-color: #eec35a;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

.slide .owl-theme .item_one .slide_text button i {
  margin-left: 12px;
}

.slide .slide_right_one .owl-dots {
  position: absolute !important;
  bottom: 42px !important;
  left: 36px !important;
  display: none;
}

.slide .slide_right_one .item img {
  height: 223px;
  margin-bottom: 17px;
}

.slide .slide_right_one .item_two {
  margin-top: 25px;
}

.slide .slide_right_one .text_item_one {
  position: absolute;
  bottom: 18px;
  left: 25px;
  color: #ffffff;
  font-size: 20px;
  font-family: "Arimo-Bold";
}

.slide .silde_right_two .owl-dots {
  position: absolute !important;
  bottom: 42px !important;
  left: 36px !important;
  display: none;
}

.slide .silde_right_two .item img {
  height: 234px;
}

@media screen and (max-width: 567px) {
  .slide .silde_right_two .item img {
    width: 98%;
  }
}

@media screen and (max-width: 560px) {
  .slide .silde_right_two .item img {
    width: 99%;
  }
}

@media screen and (max-width: 550px) {
  .slide .silde_right_two .item img {
    width: 97%;
  }
}

@media screen and (max-width: 520px) {
  .slide .silde_right_two .item img {
    width: 95%;
  }
}

@media screen and (max-width: 510px) {
  .slide .silde_right_two .item img {
    width: 97%;
  }
}

@media screen and (max-width: 500px) {
  .slide .silde_right_two .item img {
    width: 99%;
  }
}

@media screen and (max-width: 490px) {
  .slide .silde_right_two .item img {
    width: 97%;
  }
}

@media screen and (max-width: 480px) {
  .slide .silde_right_two .item img {
    width: 99%;
  }
}

@media screen and (max-width: 470px) {
  .slide .silde_right_two .item img {
    width: 97%;
  }
}

@media screen and (max-width: 450px) {
  .slide .silde_right_two .item img {
    width: 99%;
  }
}

@media screen and (max-width: 440px) {
  .slide .silde_right_two .item img {
    width: 97%;
  }
}

@media screen and (max-width: 410px) {
  .slide .silde_right_two .item img {
    width: 97%;
  }
}

@media screen and (max-width: 390px) {
  .slide .silde_right_two .item img {
    width: 99%;
  }
}

@media screen and (max-width: 380px) {
  .slide .silde_right_two .item img {
    width: 98%;
  }
}

.slide .silde_right_two .item .text_item_two {
  position: absolute;
  bottom: 18px;
  left: 25px;
  color: #ffffff;
  font-size: 20px;
  color: #eec35a;
  font-family: "Arimo-Bold";
}

.slogun .item_text {
  width: 109%;
  background-color: #eec35a;
}

.slogun .item_text p {
  margin-top: 14px;
  margin-left: 8px;
  font-family: "Arimo-Bold";
}

.slogun .item_text_three {
  background-color: #eec35a;
}

.slogun .item_text_three p {
  margin-top: 14px;
  margin-left: 21px;
  font-family: "Arimo-Bold";
}

@media screen and (max-width: 1199px) {
  .slogun .item_text_three img {
    margin-top: -13px;
  }
}

@media screen and (max-width: 991px) {
  .slogun .item_text_three img {
    padding-left: 9px;
    margin-top: -13px;
    margin-left: 8px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .slogun .item_text_three {
    height: 78px;
  }
}

@media screen and (max-width: 991px) {
  .slogun .item_text_three {
    padding-left: 62px;
  }
}

@media screen and (max-width: 470px) {
  .slogun .item_text_three {
    padding-left: 0px;
  }
}

@media screen and (max-width: 440px) {
  .slogun .item_text_three {
    padding-left: 0px;
  }
}

@media screen and (max-width: 430px) {
  .slogun .item_text_three {
    padding-left: 0px;
  }
}

@media screen and (max-width: 420px) {
  .slogun .item_text_three {
    padding-left: 0px;
  }
}

@media screen and (max-width: 417px) {
  .slogun .item_text_three {
    padding-left: 0px;
  }
}

@media screen and (max-width: 413px) {
  .slogun .item_text_three {
    padding-left: 0px;
  }
}

@media screen and (max-width: 410px) {
  .slogun .item_text_three {
    padding-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  .slogun .item_text_three {
    padding-left: 0px;
  }
}

@media screen and (max-width: 390px) {
  .slogun .item_text_three {
    padding-left: 0px;
  }
}

@media screen and (max-width: 380px) {
  .slogun .item_text_three {
    padding-left: 0px;
  }
}

@media screen and (max-width: 1199px) {
  .slogun .first_slogun {
    width: 111%;
  }
}

@media screen and (max-width: 991px) {
  .slogun .first_slogun {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .slogun .first_slogun {
    padding-right: 59px;
  }
}

@media screen and (max-width: 390px) {
  .slogun .first_slogun {
    padding-right: 44px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  .slogun .first_slogun img {
    padding-right: 24px;
    padding-left: 14px;
  }
}

@media screen and (max-width: 1199px) {
  .slogun .second_slogun {
    width: 111%;
  }
}

@media screen and (max-width: 991px) {
  .slogun .second_slogun {
    width: 100%;
    padding-right: 10px;
  }
}

@media screen and (max-width: 470px) {
  .slogun .second_slogun {
    padding-right: 66px;
  }
}

@media screen and (max-width: 991px) {
  .slogun .second_slogun img {
    padding-right: 14px;
    padding-left: 10px;
  }
}

.customerFeel {
  background-color: #eec35a;
}

.customerFeel .gallery-top .swiper-wrapper .swiper-slide .header_top {
  text-align: center;
  margin-top: 70px;
}

.customerFeel .gallery-top .swiper-wrapper .swiper-slide .header_top h3 {
  font-family: "Montserrat-semiBold";
}

.customerFeel .gallery-top .swiper-wrapper .swiper-slide .header_top p {
  font-family: "Arimo-regular";
}

.customerFeel .gallery-top .swiper-wrapper .swiper-slide .feel_content {
  text-align: center;
}

.customerFeel .gallery-top .swiper-wrapper .swiper-slide .feel_content p {
  font-family: "Arimo-regular";
}

.customerFeel .gallery-thumbs {
  width: 250px !important;
}

.customerFeel .gallery-thumbs .swiper-slide {
  opacity: 0.3;
  width: 70px !important;
}

.customerFeel .gallery-thumbs .swiper-slide img {
  width: 50px !important;
  height: 50px !important;
  border: 1px solid black;
  border-radius: 50%;
}

.customerFeel .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  margin-bottom: 5px !important;
}

.customerFeel .gallery-thumbs .swiper-slide-thumb-active img {
  width: 70px !important;
  height: 70px !important;
}

.customerFeel .swiper-button-prev:after {
  color: #000000;
  font-size: 20px;
}

.bestChoicee {
  position: relative;
  padding-bottom: 55px;
}

.bestChoicee h3 {
  font-family: "Montserrat-semiBold";
}

.bestChoicee .row_best_choice {
  padding-left: 15px;
  padding-right: 15px;
}

.bestChoicee .row_best_choice .owl-carousel .owl-nav {
  display: block;
  font-weight: bold;
  font-size: 36px;
  position: absolute;
  bottom: -10%;
  left: 38%;
}

@media screen and (max-width: 992px) {
  .bestChoicee .row_best_choice .owl-carousel .owl-nav {
    bottom: -6%;
  }
}

@media screen and (max-width: 991px) {
  .bestChoicee .row_best_choice .owl-carousel .owl-nav {
    bottom: -8%;
    left: 31%;
  }
}

@media screen and (max-width: 848px) {
  .bestChoicee .row_best_choice .owl-carousel .owl-nav {
    left: 32%;
  }
}

@media screen and (max-width: 812px) {
  .bestChoicee .row_best_choice .owl-carousel .owl-nav {
    left: 33%;
  }
}

@media screen and (max-width: 767px) {
  .bestChoicee .row_best_choice .owl-carousel .owl-nav {
    top: 96%;
    left: 28%;
  }
}

@media screen and (max-width: 690px) {
  .bestChoicee .row_best_choice .owl-carousel .owl-nav {
    left: 30%;
  }
}

@media screen and (max-width: 574px) {
  .bestChoicee .row_best_choice .owl-carousel .owl-nav {
    top: 97%;
    left: 31%;
  }
}

@media screen and (max-width: 474px) {
  .bestChoicee .row_best_choice .owl-carousel .owl-nav {
    top: 91%;
    left: 22%;
  }
}

@media screen and (max-width: 431px) {
  .bestChoicee .row_best_choice .owl-carousel .owl-nav {
    top: 95.5%;
  }
}

@media scrren and (max-width: 410px) {
  .bestChoicee .row_best_choice .owl-carousel .owl-nav {
    left: 21%;
  }
}

@media screen and (max-width: 369px) {
  .bestChoicee .row_best_choice .owl-carousel .owl-nav {
    left: 15%;
  }
}

@media screen and (max-width: 320px) {
  .bestChoicee .row_best_choice .owl-carousel .owl-nav {
    left: 8%;
    top: 93.5%;
  }
}

.bestChoicee .row_best_choice .owl-carousel .owl-nav .owl-prev {
  margin-right: 200px;
  outline: none;
}

.bestChoicee .row_best_choice .owl-carousel .owl-nav .owl-prev:hover {
  background: white !important;
  color: #000000;
}

.bestChoicee .row_best_choice .owl-carousel .owl-nav .owl-next {
  outline: none;
}

.bestChoicee .row_best_choice .owl-carousel .owl-nav .owl-next:hover {
  background: white !important;
  color: #000000;
}

.bestChoicee .row_best_choice .owl-four .owl-theme .owl-dots {
  display: none;
}

.bestChoicee .row_best_choice .owl-four .item_text P {
  margin-bottom: 0 !important;
}

.bestChoicee .row_best_choice .owl-four .item_text h4, .bestChoicee .row_best_choice .owl-four .item_text h5 {
  font-family: "Arimo-Bold";
}

.bestChoicee .row_best_choice .owl-four .item_text_one {
  padding-top: 12px;
  padding-bottom: 24px;
}

.bestChoicee .row_best_choice .owl-four .item_text_two {
  margin-top: 6px;
  padding-top: 9px;
  padding-bottom: 24px;
}

.bestChoicee .row_best_choice .owl-four .item_text_two h5 {
  font-size: 21px;
}

.bestChoicee .row_best_choice .owl-four .item_text_three {
  font-size: 19px;
  padding-top: 17px;
  padding-bottom: 19px;
}

@media screen and (max-width: 767px) {
  .bestChoicee .row_best_choice .owl-four .item_text_three {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 431px) {
  .bestChoicee .row_best_choice .owl-four .item_text_three {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .bestChoicee .row_best_choice .owl-four .item_text_three h5 {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 431px) {
  .bestChoicee .row_best_choice .owl-four .item_text_three h5 {
    margin-bottom: 11px;
  }
}

.bestChoicee .row_best_choice .owl-four .item_text_four {
  padding-top: 0px;
  padding-bottom: 24px;
}

.bestChoicee .row_best_choice .owl-four .item_text_four h4 {
  font-size: 18px;
  padding-top: 19px;
}

.bestChoicee .footer_button {
  font-family: "Arimo-Bold";
  position: absolute;
  padding: 5px 45px 5px 37px;
  bottom: 1.5%;
  left: 43%;
  background: #eec35a;
  text-align: center;
  z-index: 999999999999;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media screen and (max-width: 1200px) {
  .bestChoicee .footer_button {
    left: 42%;
  }
}

@media screen and (max-width: 1199px) {
  .bestChoicee .footer_button {
    left: 44%;
  }
}

@media screen and (max-width: 992px) {
  .bestChoicee .footer_button {
    left: 43%;
  }
}

@media screen and (max-width: 991px) {
  .bestChoicee .footer_button {
    left: 41%;
  }
}

@media screen and (max-width: 563px) {
  .bestChoicee .footer_button {
    left: 40%;
  }
}

@media screen and (max-width: 474px) {
  .bestChoicee .footer_button {
    left: 33%;
    bottom: 6.5%;
  }
}

@media screen and (max-width: 431px) {
  .bestChoicee .footer_button {
    bottom: 2.5%;
  }
}

@media screen and (max-width: 369px) {
  .bestChoicee .footer_button {
    left: 30%;
  }
}

@media screen and (max-width: 320px) {
  .bestChoicee .footer_button {
    left: 25%;
    bottom: 3.5%;
  }
}

.bestChoicee .footer_button:hover {
  background-color: #000000;
  color: #eec35a;
  cursor: pointer;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.bestChoicee .select_choice {
  width: 70%;
  height: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 42px;
  padding-top: 29px;
}

@media screen and (max-width: 767px) {
  .bestChoicee .select_choice {
    width: 99%;
  }
}

@media screen and (max-width: 446px) {
  .bestChoicee .select_choice {
    font-size: 14px;
  }
}

@media screen and (max-width: 397px) {
  .bestChoicee .select_choice {
    font-size: 12px;
  }
}

@media screen and (max-width: 343px) {
  .bestChoicee .select_choice {
    font-size: 11px;
  }
}

@media screen and (max-width: 320px) {
  .bestChoicee .select_choice {
    font-size: 10px;
  }
}

.bestChoicee .select_choice .select_item a {
  color: #000000;
  padding-bottom: 5px;
  text-decoration: none;
  font-family: "Arimo-Bold";
}

.bestChoicee .select_choice .select_item a:hover {
  color: #eec35a;
  border-bottom: 3px solid #eec35a;
}

.contact {
  position: relative;
  overflow: hidden;
}

.contact .container .contact_form form {
  position: absolute;
  right: 11%;
  bottom: 17%;
}

@media screen and (max-width: 1920px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 23%;
    bottom: 17%;
  }
}

@media screen and (max-width: 1780px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 21%;
    bottom: 17%;
  }
}

@media screen and (max-width: 1680px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 19%;
    bottom: 17%;
  }
}

@media screen and (max-width: 1600px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 17%;
    bottom: 17%;
  }
}

@media screen and (max-width: 1510px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 15%;
    bottom: 17%;
  }
}

@media screen and (max-width: 1420px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 13%;
    bottom: 17%;
  }
}

@media screen and (max-width: 1340px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 11%;
    bottom: 17%;
  }
}

@media screen and (max-width: 1260px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 9%;
    bottom: 17%;
  }
}

@media screen and (max-width: 1220px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 7%;
    bottom: 17%;
  }
}

@media screen and (max-width: 1199px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 6%;
    bottom: 10%;
  }
}

@media screen and (max-width: 1150px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 5%;
    bottom: 10%;
  }
}

@media screen and (max-width: 1130px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 4%;
    bottom: 10%;
  }
}

@media screen and (max-width: 1100px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 2%;
    bottom: 10%;
  }
}

@media screen and (max-width: 1050px) {
  .contact .container .contact_form form {
    position: absolute;
    right: 0%;
    bottom: 10%;
  }
}

@media screen and (max-width: 1030px) {
  .contact .container .contact_form form {
    position: absolute;
    right: -1%;
    bottom: 10%;
  }
}

@media screen and (max-width: 1030px) {
  .contact .container .contact_form form {
    position: absolute;
    right: -2%;
    bottom: 10%;
  }
}

@media screen and (max-width: 991px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 11%;
    bottom: 8%;
  }
}

@media screen and (max-width: 990px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 11%;
    bottom: 8%;
  }
}

@media screen and (max-width: 920px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 8%;
    bottom: 8%;
  }
}

@media screen and (max-width: 900px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 7%;
    bottom: 8%;
  }
}

@media screen and (max-width: 870px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 5%;
    bottom: 8%;
  }
}

@media screen and (max-width: 830px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 3%;
    bottom: 8%;
  }
}

@media screen and (max-width: 767px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 21%;
    bottom: 8%;
  }
}

@media screen and (max-width: 720px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 18%;
    bottom: 6%;
  }
}

@media screen and (max-width: 690px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 18%;
    bottom: 9%;
  }
}

@media screen and (max-width: 640px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 16%;
    bottom: 7%;
  }
}

@media screen and (max-width: 570px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 13%;
    bottom: 9%;
  }
}

@media screen and (max-width: 530px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 10%;
    bottom: 6%;
  }
}

@media screen and (max-width: 510px) {
  .contact .container .contact_form form {
    font-size: 10px;
    position: absolute;
    right: 8%;
    bottom: 4%;
  }
}

@media screen and (max-width: 496px) {
  .contact .container .contact_form form {
    font-size: 9px;
    position: absolute;
    right: 10%;
    bottom: 6%;
  }
}

@media screen and (max-width: 480px) {
  .contact .container .contact_form form {
    font-size: 8px;
    position: absolute;
    right: 12%;
    bottom: 5%;
  }
}

@media screen and (max-width: 470px) {
  .contact .container .contact_form form {
    font-size: 8px;
    position: absolute;
    right: 9%;
    bottom: 3%;
  }
}

@media screen and (max-width: 450px) {
  .contact .container .contact_form form {
    font-size: 8px;
    position: absolute;
    right: 6%;
    bottom: 2%;
  }
}

@media screen and (max-width: 440px) {
  .contact .container .contact_form form {
    font-size: 8px;
    position: absolute;
    right: 6%;
    bottom: 1%;
  }
}

@media screen and (max-width: 430px) {
  .contact .container .contact_form form {
    font-size: 6px;
    position: absolute;
    right: 14%;
    bottom: 5%;
  }
}

@media screen and (max-width: 410px) {
  .contact .container .contact_form form {
    font-size: 6px;
    position: absolute;
    right: 10%;
    bottom: 3%;
  }
}

@media screen and (max-width: 380px) {
  .contact .container .contact_form form {
    font-size: 6px;
    position: absolute;
    right: 8%;
    bottom: 4%;
  }
}

@media screen and (max-width: 370px) {
  .contact .container .contact_form form {
    font-size: 6px;
    position: absolute;
    right: 14%;
    bottom: 3%;
  }
}

@media screen and (max-width: 340px) {
  .contact .container .contact_form form {
    font-size: 6px;
    position: absolute;
    right: 9%;
    bottom: 5%;
  }
}

@media screen and (max-width: 320px) {
  .contact .container .contact_form form {
    font-size: 6px;
    position: absolute;
    right: 7%;
    bottom: 4%;
  }
}

.contact .container .contact_form form h3 {
  color: #ffffff;
  font-family: "Montserrat-semiBold";
  font-size: 25px;
}

@media screen and (max-width: 1199px) {
  .contact .container .contact_form form h3 {
    font-size: 19px;
  }
}

@media screen and (max-width: 991px) {
  .contact .container .contact_form form h3 {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .contact .container .contact_form form h3 {
    margin-bottom: -2px;
  }
}

@media screen and (max-width: 510px) {
  .contact .container .contact_form form h3 {
    font-size: 12px;
  }
}

@media screen and (max-width: 470px) {
  .contact .container .contact_form form h3 {
    font-size: 12px;
  }
}

@media screen and (max-width: 460px) {
  .contact .container .contact_form form h3 {
    font-size: 10px;
  }
}

@media screen and (max-width: 430px) {
  .contact .container .contact_form form h3 {
    font-size: 8px;
  }
}

@media screen and (max-width: 410px) {
  .contact .container .contact_form form h3 {
    font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  .contact .container .contact_form form h3 {
    font-size: 7px;
    margin-bottom: -7px;
  }
}

@media screen and (max-width: 360px) {
  .contact .container .contact_form form h3 {
    margin-bottom: -3px;
  }
}

.contact .container .contact_form form .ho_ten {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .contact .container .contact_form form .ho_ten {
    margin-top: 15px;
  }
}

.contact .container .contact_form form .dia_chi {
  margin-top: 25px;
}

@media screen and (max-width: 991px) {
  .contact .container .contact_form form .dia_chi {
    margin-top: 15px;
  }
}

@media screen and (max-width: 360px) {
  .contact .container .contact_form form .dia_chi {
    margin-top: 8px;
  }
}

.contact .container .contact_form form .so_dien_thoai {
  margin-top: 25px;
  margin-bottom: 15px;
}

@media screen and (max-width: 991px) {
  .contact .container .contact_form form .so_dien_thoai {
    margin-top: 16px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .contact .container .contact_form form .so_dien_thoai {
    margin-bottom: 2px;
  }
}

@media screen and (max-width: 360px) {
  .contact .container .contact_form form .so_dien_thoai {
    margin-top: 8px;
  }
}

.contact .container .contact_form form input {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  width: 100%;
  color: #ffffff;
  background: #000000;
  font-weight: bold;
  border: 1px solid #756b5a;
  z-index: 1;
  border-radius: 3%;
}

@media screen and (max-width: 1199px) {
  .contact .container .contact_form form input {
    width: 78%;
  }
}

@media screen and (max-width: 767px) {
  .contact .container .contact_form form input {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 430px) {
  .contact .container .contact_form form input {
    padding-left: 5px;
  }
}

.contact .container .contact_form form input::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: bold;
  z-index: 2;
  opacity: 3;
  font-family: "Arimo-regular";
}

.contact .container .contact_form form input:-ms-input-placeholder {
  color: #ffffff;
  font-weight: bold;
  z-index: 2;
  opacity: 3;
  font-family: "Arimo-regular";
}

.contact .container .contact_form form input::-ms-input-placeholder {
  color: #ffffff;
  font-weight: bold;
  z-index: 2;
  opacity: 3;
  font-family: "Arimo-regular";
}

.contact .container .contact_form form input::placeholder {
  color: #ffffff;
  font-weight: bold;
  z-index: 2;
  opacity: 3;
  font-family: "Arimo-regular";
}

.contact .container .contact_form form .foot_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 108%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .contact .container .contact_form form .foot_form {
    width: 79%;
  }
}

.contact .container .contact_form form .foot_form input {
  width: 123px;
  padding-left: 0px;
  padding-bottom: 8px;
  background: #eec35a;
  color: #000000;
  border: 1px solid #eec35a;
  border-radius: 0 5% 0 5%;
}

@media screen and (max-width: 767px) {
  .contact .container .contact_form form .foot_form input {
    padding-bottom: 0px;
    width: 86px;
  }
}

@media screen and (max-width: 430px) {
  .contact .container .contact_form form .foot_form input {
    width: 90px;
  }
}

@media screen and (max-width: 370px) {
  .contact .container .contact_form form .foot_form input {
    width: 52px;
  }
}

.contact .container .contact_form form .foot_form .some_text {
  margin-left: 25px;
  width: 100%;
  color: #eec45abb;
  font-family: "Arimo-italic";
}

footer {
  background-color: #000000;
}

footer p {
  font-family: "Arimo-regular";
}

footer h5 {
  font-family: "Arimo-Bold";
}

footer .container .first_col {
  padding-top: 6%;
  max-width: 14%;
}

@media screen and (max-width: 991px) {
  footer .container .first_col {
    max-width: 100%;
  }
}

footer .container .second_col .group_one_adress {
  margin-right: 35px;
}

@media screen and (max-width: 991px) {
  footer .container .second_col .group_one_adress .email {
    margin-top: 28px;
  }
}

@media screen and (max-width: 766px) {
  footer .container .second_col .group_one_adress .email {
    margin-top: 46px;
  }
}

@media screen and (max-width: 1199px) {
  footer .container .second_col p {
    font-size: 12px;
  }
}

@media screen and (max-width: 1199px) {
  footer .container .second_col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36.666667%;
            flex: 0 0 36.666667%;
  }
}

footer .container .padding_col {
  padding-top: 10%;
}

footer .container .padding_col P {
  color: #ffffff;
  margin-bottom: 10px !important;
}

footer .container .padding_col h5 {
  color: #eec35a;
}

footer .container .col_two {
  margin-right: 35px;
}

footer .container .col_two .suport_item p {
  margin-bottom: 10px !important;
  color: #ffffff;
}

footer .container .col_three .product p {
  color: white;
  margin-bottom: 10px !important;
}

footer .final_footer p {
  color: #ffffff;
}

footer .final_footer .copy_right {
  margin-left: 19%;
}

@media screen and (max-width: 1199px) {
  footer .final_footer .copy_right {
    margin-left: -15%;
  }
}

@media screen and (max-width: 1145px) {
  footer .final_footer .copy_right {
    margin-left: -8%;
  }
}

@media screen and (max-width: 1130px) {
  footer .final_footer .copy_right {
    margin-left: -6%;
  }
}

@media screen and (max-width: 1120px) {
  footer .final_footer .copy_right {
    margin-left: -2%;
  }
}

@media screen and (max-width: 991px) {
  footer .final_footer .copy_right {
    margin-left: 0%;
  }
}

footer .final_footer .social_icons .connect_us {
  margin-right: 40px;
  margin-left: -46px;
}

@media screen and (max-width: 1199px) {
  footer .final_footer .social_icons .connect_us {
    margin-right: 40px;
    margin-left: -103px;
  }
}

@media screen and (max-width: 1145px) {
  footer .final_footer .social_icons .connect_us {
    margin-right: 40px;
    margin-left: -60px;
  }
}

@media screen and (max-width: 991px) {
  footer .final_footer .social_icons .connect_us {
    margin-left: 0px;
  }
}

@media screen and (max-width: 362px) {
  footer .final_footer .social_icons .connect_us p {
    font-size: 14px;
    margin-top: 3px;
  }
}

@media screen and (max-width: 340px) {
  footer .final_footer .social_icons .connect_us p {
    font-size: 13px;
  }
}

@media screen and (max-width: 327px) {
  footer .final_footer .social_icons .connect_us p {
    font-size: 12px;
  }
}

footer .final_footer .social_icons .group_icon a i {
  color: #eec35a;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #eec35a;
  border-radius: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .final_footer .social_icons .group_icon a i:hover {
  background-color: #eec35a;
  color: #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .final_footer .social_icons .group_icon .fa-google-plus-g {
  margin: 0 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #eec35a;
}

@media screen and (max-width: 378px) {
  footer .final_footer .social_icons .group_icon {
    margin-left: -15px;
  }
}

.bannerr {
  background-image: url("../image/Banner_detail.jpg");
  height: 300px;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .category .first_col .dropdown button {
    padding: 9px 60px;
  }
}

@media screen and (max-width: 767px) {
  .category .first_col {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .category .second_col {
    margin: auto;
  }
}

.category .second_col .name_product .header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .category .second_col .name_product .header_top .h3_top h3 {
    font-size: 26px;
  }
}

.category .second_col .name_product .header_top .back_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category .second_col .name_product .header_top .back_button .quay_lai {
  margin-left: 21px;
}

@media screen and (max-width: 767px) {
  .category .second_col .name_product .header_top .back_button .quay_lai {
    margin-left: 7px;
  }
}

@media screen and (max-width: 767px) {
  .category .second_col .name_product .header_top .back_button {
    position: absolute;
    right: 75%;
    top: 17.5%;
  }
}

@media screen and (max-width: 575px) {
  .category .second_col .name_product .header_top .back_button {
    position: absolute;
    right: 77%;
    top: 25.5%;
  }
}

@media screen and (max-width: 414px) {
  .category .second_col .name_product .header_top .back_button {
    top: 13.5%;
    right: 66%;
    width: 76px;
  }
}

@media screen and (max-width: 400px) {
  .category .second_col .name_product .header_top .back_button {
    top: 13%;
    right: 65%;
    width: 76px;
  }
}

@media screen and (max-width: 375px) {
  .category .second_col .name_product .header_top .back_button {
    top: 13.5%;
    right: 63%;
  }
}

@media screen and (max-width: 320px) {
  .category .second_col .name_product .header_top .back_button {
    top: 14%;
    right: 58%;
  }
}

.category .second_col .name_product .desc_product {
  text-align: left;
}

.category .second_col .name_product .number_and_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category .second_col .name_product .number_and_buy ul {
  margin-left: 18px;
  list-style-type: disc;
}

.category .second_col .name_product .number_and_buy ul span {
  font-family: "Arimo-Bold";
}

.category .second_col .image_detial .big_image {
  padding-left: 63px;
}

@media screen and (max-width: 411px) {
  .category .second_col .image_detial .big_image {
    padding-left: 30px;
  }
}

@media screen and (max-width: 320px) {
  .category .second_col .image_detial .big_image {
    padding-left: 20px;
  }
}

.category .second_col .image_detial .small_image {
  margin-left: -15px;
}

.category .second_col .small_banner {
  background-image: url("../image/second_banner.jpg");
  height: 300px;
}

@media screen and (max-width: 411px) {
  .category .second_col .small_banner {
    margin-top: 40px !important;
  }
}

.category .second_col .product_detial {
  text-align: left;
}

@media screen and (max-width: 400px) {
  .category .second_col .product_detial h3 {
    margin-top: 12px !important;
  }
}

@media screen and (max-width: 320px) {
  .category .second_col .product_detial h3 {
    font-size: 23px;
  }
}

.category .second_col .do_and_done h3 {
  font-family: "Arimo-Bold";
}

@media screen and (max-width: 414px) {
  .category .second_col .do_and_done h3 {
    font-size: 22px;
  }
}

@media screen and (max-width: 375px) {
  .category .second_col .do_and_done h3 {
    font-size: 21px;
  }
}

@media screen and (max-width: 320px) {
  .category .second_col .do_and_done h3 {
    font-size: 18px;
  }
}

.category .second_col .do_and_done .swiper-container .swiper-button-prev {
  opacity: 0.3;
}

.category .second_col .do_and_done .swiper-container .swiper-button-prev:hover {
  opacity: 1;
}

.category .second_col .do_and_done .swiper-container .swiper-button-prev:after {
  color: black;
  font-size: 28px;
}

.category .second_col .do_and_done .swiper-container .swiper-button-next {
  opacity: 0.3;
}

.category .second_col .do_and_done .swiper-container .swiper-button-next:hover {
  opacity: 1;
}

.category .second_col .do_and_done .swiper-container .swiper-button-next:after {
  color: black;
  font-size: 28px;
}

.category .detail_slogun {
  background-color: #eec35a;
}

.category .detail_slogun .slogun_one {
  margin-top: 20px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.171);
}

.category .detail_slogun .slogun_one img {
  margin-left: -11px;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .category .detail_slogun .slogun_one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.category .detail_slogun .slogun_two {
  margin-left: -17px;
  margin-top: 12px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.171);
}

.category .detail_slogun .slogun_two img {
  margin-left: -11px;
}

@media screen and (max-width: 768px) {
  .category .detail_slogun .slogun_two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -1px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .category .detail_slogun .slogun_two p {
    margin-left: -6px;
  }
}

.category .detail_slogun .slogun_three p {
  margin-left: -19px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .category .detail_slogun .slogun_three p {
    margin-left: 5px;
  }
}

.category .detail_slogun .slogun_three img {
  margin-top: 13px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .category .detail_slogun .slogun_three img {
    text-align: left;
    margin-left: -2px;
    margin-top: 9px;
  }
}

@media screen and (max-width: 375px) {
  .category .detail_slogun .slogun_three img {
    margin-top: 31px;
  }
}

@media screen and (max-width: 320px) {
  .category .detail_slogun .slogun_three img {
    margin-top: 44px;
  }
}

@media screen and (max-width: 768px) {
  .category .detail_slogun .slogun_three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-right: 0.5px solid rgba(0, 0, 0, 0.171);
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

.category .tags .tag_group {
  width: 44%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .category .tags .tag_group {
    width: 74%;
  }
}

@media screen and (max-width: 411px) {
  .category .tags .tag_group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.category .tags .tag_group .tag_names {
  margin-top: -2px;
}

.category .tags .tag_group .tag_names button {
  background: #eec35a;
  border: 1px solid #eec35a;
  padding: 2px 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.category .tags .tag_group .tag_names button:hover {
  background-color: #000000;
  color: #eec35a;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media screen and (max-width: 411px) {
  .category .tags .tag_group .tag_names button {
    margin: 8px 0px;
  }
}

.category .tags .tag_group .tag_names .button_two {
  margin-left: 5px;
}

@media screen and (max-width: 411px) {
  .category .tags .tag_group .tag_names .button_two {
    margin-left: 0px;
  }
}

.category .other_product {
  position: relative;
}

.category .other_product .owl-theme .owl-nav {
  margin-top: 8px;
  position: absolute;
  right: -1%;
  top: -13%;
  font-size: 38px;
}

.category .other_product .owl-six .owl-prev {
  outline: none;
}

.category .other_product .owl-six .owl-prev:hover {
  background: white !important;
  color: #000000;
}

.category .other_product .owl-six .owl-next {
  outline: none;
}

.category .other_product .owl-six .owl-next:hover {
  background: white !important;
  color: #000000;
}

.category .other_product .owl-six .item_text P {
  margin-bottom: 0 !important;
}

.category .other_product .owl-six .item_text h4, .category .other_product .owl-six .item_text h5 {
  font-family: "Arimo-Bold";
}

.category .other_product .owl-six .item_text_one {
  padding-top: 21px;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .category .other_product .owl-six .item_text_one {
    padding-top: 23px;
    padding-bottom: 22px;
  }
}

.category .other_product .owl-six .item_text_one h4 {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .category .other_product .owl-six .item_text_one h4 {
    font-size: 12px;
  }
}

.category .other_product .owl-six .item_text_two {
  margin-top: 14px;
  padding-top: 9px;
  padding-bottom: 24px;
}

.category .other_product .owl-six .item_text_two h5 {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .category .other_product .owl-six .item_text_two h5 {
    font-size: 11px;
  }
}

.category .other_product .owl-six .item_text_three {
  font-size: 19px;
  padding-top: 22px;
  padding-bottom: 19px;
}

@media screen and (max-width: 768px) {
  .category .other_product .owl-six .item_text_three p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .category .other_product .owl-six .item_text_three {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 431px) {
  .category .other_product .owl-six .item_text_three {
    margin-bottom: 0px;
  }
}

.category .other_product .owl-six .item_text_three h5 {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .category .other_product .owl-six .item_text_three h5 {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .category .other_product .owl-six .item_text_three h5 {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 431px) {
  .category .other_product .owl-six .item_text_three h5 {
    margin-bottom: 11px;
  }
}

.category .other_product .owl-six .item_text_four {
  padding-top: 0px;
  padding-bottom: 28px;
}

@media screen and (max-width: 768px) {
  .category .other_product .owl-six .item_text_four {
    padding-bottom: 23px;
  }
}

.category .other_product .owl-six .item_text_four h4 {
  font-size: 16px;
  padding-top: 19px;
}

@media screen and (max-width: 768px) {
  .category .other_product .owl-six .item_text_four h4 {
    font-size: 9px;
    padding-top: 25px;
  }
}
/*# sourceMappingURL=main.css.map */