$-color-black:#000000;
$-color-black-2:#000000b6;
$-black-border:#e4e4e4;

$-while-border:#756b5a;


$-color-while:#ffffff;
$-color-while-2:#b9b9b9;

$soft-orange:#eec35a;
$softer-orange:#eec45abb;
$softest-orange:#eec45a59;

@font-face{
    font-family: 'Arimo-Bold';
    src: url('../scss/font/ARIMO-BOLD.TTF');
}
@font-face{
    font-family: 'Arimo-Regular';
    src: url('../scss/font/ARIMO-REGULAR.TTF');
}
@font-face{
    font-family: 'Montserrat-semiBold';
    src: url('../scss/font/MONTSERRAT-SEMIBOLD.TTF');
}
@font-face{
    font-family: 'Arimo-italic';
    src: url('../scss/font/ARIMO-ITALIC.TTF');
}
$Arimo-Bold:'Arimo-Bold';
$Arimo-regular:'Arimo-regular';
$Monserrat-semilBold:'Montserrat-semiBold';
$Arimo-italic:'Arimo-italic';