.bannerr{
    background-image: url('../image/Banner_detail.jpg');
    height: 300px;
    background-size: cover;
}
.category{
        .first_col{
            .dropdown{
                button{
                    @media screen and(max-width:768px){
                        padding: 9px 60px;
                    }
                }
            }
            @media screen and(max-width:767px){
                display: none;
            }
        }
        .second_col{
            @media screen and(max-width:767px){
                margin: auto;
            }
           
            .name_product{
                .header_top{
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    .h3_top{
                        h3{
                            @media screen and(max-width:320px){
                                    font-size: 26px;
                            }
                        }
                    }
                    .back_button{
                        display: flex;
                        .quay_lai{
                            margin-left: 21px;
                            @media screen and(max-width:767px){
                                margin-left: 7px;
                            }
                        }

                        @media screen and(max-width:767px){
                            position: absolute;
                            right: 75%;
                            top: 17.5%;
                        }
                        @media screen and(max-width:575px){
                            position: absolute;
                            right: 77%;
                            top: 25.5%;
                        }
                        @media screen and(max-width:414px){
                            top: 13.5%;
                            right: 66%;
                            width: 76px;
                        }
                        @media screen and(max-width:400px){
                            top: 13%;
                            right: 65%;
                            width: 76px;
                        }
                        @media screen and(max-width:375px){
                            top: 13.5%;
                            right: 63%;
                        }
                        @media screen and(max-width:320px){
                            top: 14%;
                            right: 58%;
                        }
                    }
                }
                .desc_product{
                    text-align: left;
                }
                .number_and_buy{
                    display: flex;
                    ul{
                        margin-left: 18px;
                        list-style-type: disc;
                        span{
                            font-family: $Arimo-Bold;
                        }
                    }
                }
            }
            .image_detial{
                .big_image{
                    padding-left: 63px;
                    @media screen and(max-width:411px){
                        padding-left: 30px;
                    }
                    @media screen and(max-width:320px){
                        padding-left: 20px;
                    }
                }
                .small_image{
                    margin-left: -15px;
                }
            }
            .small_banner{
                background-image: url('../image/second_banner.jpg');
                height: 300px;
                @media screen and(max-width:411px){
                    margin-top: 40px !important;
                }
            }
            .product_detial{
                text-align: left;
                h3{
                        @media screen and(max-width:400px){
                        margin-top: 12px !important;
                    }
                    @media screen and(max-width:320px){
                        font-size: 23px;
                    }
                }
            }
            .do_and_done{
                h3{
                    font-family: $Arimo-Bold;
                    @media screen and(max-width:414px){
                        font-size: 22px;
                    }
                    @media screen and(max-width:375px){
                        font-size: 21px;
                    }
                    @media screen and(max-width:320px){
                        font-size: 18px;
                    }
                }
                .swiper-container{
                    .swiper-button-prev{
                        opacity: 0.3;
                        &:hover{
                            opacity: 1;
                        }
                        &:after{
                            color: black;
                            font-size: 28px;
                        }
                    }
                    .swiper-button-next{
                        opacity: 0.3;
                        &:hover{
                            opacity: 1;
                        }
                        &:after{
                            color: black;
                            font-size: 28px;
                        }
                    }
                }
            }
        }
        .detail_slogun{
            background-color: $soft-orange;
            .slogun_one{
                margin-top: 20px;
                border-right: .5px solid rgba(0, 0, 0, 0.171);
                img{
                    margin-left: -11px;
                    margin-bottom: 12px;
                }
                @media screen and(max-width:768px){
                    display: flex;
                    align-items: center;
                }
            }
            .slogun_two{
                margin-left: -17px;
                margin-top: 12px;
                border-right: .5px solid rgba(0, 0, 0, 0.171);
                img{
                    margin-left: -11px;
                }
                @media screen and(max-width:768px){
                    display: flex;
                    margin-left: -1px;
                    align-items: center;
                    p{
                        margin-left: -6px;
                    }
                }
            }
            .slogun_three{
                p{
                    margin-left: -19px;
                    margin-top: 15px;
                    @media screen and(max-width:768px){
                        margin-left: 5px;
                    }
                }
                img{
                    margin-top: 13px;
                    text-align: center;
                    @media screen and(max-width:768px){
                        text-align: left;
                        margin-left: -2px;
                        margin-top: 9px;
                    }
                    @media screen and(max-width:375px){
                        margin-top: 31px;
                    }
                    @media screen  and(max-width:320px){
                        margin-top: 44px;
                    }
                }
                @media screen and(max-width:768px){
                    display: flex;
                    align-items: flex-start;
                    border-right: .5px solid rgba(0, 0, 0, 0.171);
                    margin-top: 14px;
                    margin-bottom: 14px;
                }
            }
        }
        .tags{
            .tag_group{
                width: 44%;
                justify-content: space-between;
                display: flex;
                @media screen and(max-width:768px){
                    width: 74%;
                }
                @media screen and(max-width:411px){
                    flex-direction: column;
                }
               .tag_names{
                   margin-top: -2px;
                   button{
                       background: $soft-orange;
                       border: 1px solid $soft-orange;
                       padding: 2px 6px;
                       transition: all 0.5s;
                       &:hover{
                           background-color: $-color-black;
                           color: $soft-orange;
                           transition: all 0.5s;
                       }
                       @media screen and(max-width:411px){
                           margin: 8px 0px;
                       }
                   }
                   .button_two{
                       margin-left: 5px;
                       @media screen and(max-width:411px){
                           margin-left: 0px;
                       }
                   }
               }
            }
        }
        .other_product{
            position: relative;
            .owl-theme{
                .owl-nav{
                    margin-top: 8px;
                    position: absolute;
                    right: -1%;
                    top: -13%;
                    font-size: 38px;
                }
            }
           
            .owl-six{
                .owl-prev{
                    outline: none;
                    &:hover{
                        background: white !important;
                        color: $-color-black;
                    }
                }
                .owl-next{
                    outline: none;
                    &:hover{
                        background: white !important;
                        color: $-color-black;
                    }
                }
                .item_text{
                    P{
                        margin-bottom: 0 !important;
                    }
                    h4,h5{
                        font-family: $Arimo-Bold;
                    }
                   
                }
                .item_text_one{
                    padding-top: 21px;
                    padding-bottom: 24px;
                    @media screen and(max-width:768px){
                        padding-top: 23px;
                        padding-bottom: 22px;
                    }
                    h4{
                        font-size: 18px;
                        @media screen and(max-width:768px){
                            font-size: 12px;
                        }
                    }
                }
                .item_text_two{
                    margin-top: 14px;
                    padding-top: 9px;
                    padding-bottom: 24px;
                    h5{
                        font-size: 16px;
                        @media screen and(max-width:768px){
                            font-size: 11px;
                        }
                    }
                }
                .item_text_three{
                    font-size: 19px;
                    padding-top: 22px;
                    padding-bottom: 19px;
                    p{
                        @media screen and(max-width:768px){
                            font-size: 16px;
                        }
                    }
                    @media screen and(max-width:768px){
                        margin-bottom: 6px;
                    }
                    @media screen and(max-width:431px){
                        margin-bottom: 0px;
                    }
                    h5{
                        font-size: 18px;
                        @media screen and(max-width:768px){
                            font-size: 12px;
                        }
                        @media screen and(max-width:767px){
                            margin-bottom: 24px;
                        }
                        @media screen and(max-width:431px){
                            margin-bottom: 11px;
                        }
                    }
                }
                .item_text_four{
                    padding-top: 0px;
                    padding-bottom: 28px;
                    @media screen and(max-width:768px){
                        padding-bottom: 23px;
                    }
                    h4{
                        font-size: 16px;
                        padding-top: 19px;
                        @media screen  and(max-width:768px){
                            font-size: 9px;
                            padding-top: 25px;
                        }
                    }
                }
            }
        }
}

