
.menu{
    padding:0 !important;
    margin: 0 !important;
    background-color: $-color-black;
    .menu_block{
        margin-left: -23px;
    }
    .drop_menu{
        background-color: $soft-orange;
        z-index: 9999999;
    }
    a{
        color:#ffffff;
        text-decoration: none;
        font-family: $Arimo-Bold;
        &:hover{
            color: $soft-orange;
        }
    }
    .danh_sach{
        margin-left: 66px;
        @media screen and(max-width:1199px ){
            margin-left: 2px;
            font-size: 14px;
        }
        @media screen and(max-width:991px){
            margin-left: 35px;
        }
        .phone_nav{
            i{
                margin: 0 5px;
            }
        }
        li{
            
            margin: 0 10px;
           span{
            border-right: 0.5px solid $softer-orange;
            padding-right: 20px;
            
           }
        }
        .last_nav{
            img{
                position: absolute;
                right: -3px;
                top: 19px;
                @media screen and (max-width:1199px){
                    position: absolute;
                    right: 6px;
                    top: 19px;
                }
                @media screen and (max-width:991px){
                    position: absolute;
                    top: 299px;
                    left: 96px;
                }
            }
            a{
                margin-left: -10px;
                @media screen and(max-width:991px){
                    margin-left: 1px;
                }
            }
        }
        .active{
            a{
                color: $soft-orange;
            }
        }
        .san_pham{
            padding: 0;
            .menu_con{
                background-color: $soft-orange;
                
                a{
                    color: $-color-while;
                    width: 100%;
                    height: 51px;
                    padding: 10px;
                }
                
            }
        }
        .last_item{
            color: $soft-orange;
        }
    }
      
}
header{
    background-color: $-color-black;
}
.navbar-expand-lg{
    .navbar-nav{
        .nav-link{
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
    }
}
.category{
    .input_dropdown{
        position: absolute;
        left: -10%;
        width: 108%;
        height: 100%;
        @media screen and (max-width:1199px){
            position: absolute;
            left: -7%;
            width: 104.5%;
            height: 100%;
        }
        @media screen  and (max-width:991px){
            position: absolute;
            left: 5%;
            width: 91.5%;
            /* top: -22%; */
            top: -2px;
            height: 105%;
        }
        @media screen and (max-width:767px){
            position: absolute;
            left: 23%;
            width: 71.5%;
            /* top: -22%; */
            top: 0px;
            height: 105%;
        }
        @media screen and(max-width:575px){
            position: absolute;
            left: 23%;
            width: 68.5%;
            /* top: -22%; */
            top: 0px;
            height: 105%;
        }
        @media screen and (max-width:531px){
            position: absolute;
            left: 20%;
            width: 73.5%;
            /* top: -22%; */
            top: 0px;
            height: 105%;
        }
        @media screen and (max-width:525px){
            height: 300%;
            position: absolute;
            left: -45%;
            width: 136.5%;
            /* top: -22%; */
            top: -29px;
        }
        input{
            height: 100%;
            @media screen and(max-width:1199px){
                height: 100%;
            }
            @media screen and(max-width: 991px){
                height: 97%;
            }
            @media screen and(max-width :525px){
                height: 45px;
            }
        }
        button{
            border: 1px solid $-while-border;
            @media screen and (max-width:991px){
                height: 98%;
            }
            @media screen and (max-width:767px){
                display: none;
            }
        }
        i{
            position: absolute;
            right: 0;
            z-index: 9;
            border: 1px solid black;
            font-size: 29px;
            padding: 6px;
            background-color: $-color-black;
            color: $-color-while;
            @media screen and(max-width:1199px){
                position: absolute;
                right: 0;
                z-index: 9;
                border: 1px solid black;
                font-size: 28px;
                padding: 6px;
                background-color: #000000;
                color: #ffffff;
            }
            @media screen and(max-width:991px){
                font-size: 29px;
            }
            @media screen and(max-width:767px){
                font-size: 30px;
            }
        }
    }
    .dropdown
    {
        @media screen and(max-width:525px){
            display: none;
        }
        &:hover{
            .dropdown-menu{
                display: block;
            }
        }
        button{
            padding: 9px 78px;
            background-color: $-color-black;
            color: $-color-while;
            border: unset;
            outline: unset;
                &:hover{
                    background-color: $soft-orange;
                    color: $-color-black;
                }
                span{
                    font-family: $Arimo-Bold;
                }
            i{
                margin-left: -42px;
                margin-right: 18px;
            }
        }
        .dropdown-menu{
           background-color: $soft-orange;
           padding: 0;
           top: -4px !important ;
           width: 228px;
           transform: translate3d(-1px, 42px, 0px) !important;
        //    padding-right: 49px;
          
           
           .dropdown-item{
                background-color: $soft-orange;
                padding-right: 69px;
                position: relative;
                width: 108.5%;
                font-family: $Arimo-Bold;
                i{
                    position: absolute;
                    top: 13px;
                    right: 5px;
                }
                &:hover{
                        background-color: $-color-black;
                        color: $soft-orange;
                }
           }
           
           .drop_one{
               .menu_group{
                   display: none;
                   color: white;
                    background-color: black;
                   li{
                     list-style: none;  
                     font-family: $Arimo-Bold;
                     font-size: 16px;
                     padding: 8px 11px;
                   }
               }
               &:hover{
                    .sub_menu{
                        position: absolute;
                        display: block;
                        margin-top: -29px;
                        margin-left: 13px;
                    }
               }
           }
        
    }
    
    }
   
}
.slide{
    .owl-theme{
        .owl-dots{
            position: absolute!important;
            bottom: 15px!important;
            left: 36px !important;
            .owl-dot{
                    span{
                        background: $softest-orange!important;
                        &:hover{
                            background-color: $softer-orange !important;
                        }
                    }
            }
            .owl-dot.active{
                span{
                    background: $soft-orange !important;
                }
                
            }
        }
        
        .item_one{
            height: 200%;
            padding-top: 25px;
            @media screen and(max-width:755px){
                width: 525px;
            }
            @media screen and(max-width:575px){
                width: 543px;
            }
            @media screen and(max-width:573px){
                width: 542px;
            }
            @media screen and(max-width:570px){
                width: 539px;
            }
            @media screen and(max-width:550px){
                width: 518px;
            }
            @media screen and(max-width:540px){
                width: 508px;
            }
            @media screen and(max-width:530px){
                width: 497px;
            }
            @media screen and(max-width:520px){
                width: 488px;
            }
            @media screen and(max-width:520px){
                width: 481px;
            }
            @media screen and(max-width:490px){
                width: 459px;
            }
            @media screen and(max-width:470px){
                width: 441px;
            }
            @media screen and(max-width:460px){
                width: 428px;
            }
            @media screen and(max-width:440px){
                width: 409px;
            }
            @media screen and(max-width:430px){
                width: 400px;
            }
            @media screen and(max-width:410px){
                width: 381px;
            }
            @media screen and(max-width:400px){
                width: 369px;
            }
            @media screen and(max-width:380px){
                width: 351px;
            }
            @media screen and(max-width:370px){
                width: 341px;
            }
            @media screen and(max-width:360px){
                width: 330px;
            }
            @media screen and(max-width:350px){
                width: 319px;
            }
            @media screen and(max-width:340px){
                width: 310px;
            }
            @media screen and(max-width:330px){
                width: 300px;
            }
            @media screen and(max-width:320px){
                width: 290px;
            }
            img{
                height: 473px;
                width: 100%;
                @media screen and(max-width:767px){
                    width: 97%;
                    height: 368px;
                }
            }
            .slide_text{
                position: absolute;
                bottom: 71px;
                left: 32px;
                h1{
                    color:$-color-while;
                    @media screen and(max-width:991px){
                        font-size: 37px;
                    }
                    @media screen and(max-width:490px){
                        font-size: 30px;
                    }
                    @media screen and(max-width:420px){
                        font-size: 25px;
                    }
                    @media screen and(max-width:330px){
                        font-size: 18px;
                    }
                }
                p{
                    color: $-color-while;
                    font-size: 23px;
                    @media screen and(max-width:991px){
                        font-size: 20px;
                    }
                    @media screen and(max-width:490px){
                        font-size: 18px;
                    }
                    @media screen and(max-width:420px){
                        font-size: 16px;
                    }
                    @media screen and(max-width:380px){
                        font-size: 14px;
                    }
                    @media screen and(max-width:330px){
                        font-size: 13px;
                    }
                }
                button{
                    padding: 6px 22px;
                    background-color: $-color-black;
                    color: $soft-orange;
                    transition: all 0.9s;
                    &:hover{
                        color: $-color-black;
                        background-color: $soft-orange;
                        transition: all 0.9s;
                    }
                    i{
                        margin-left: 12px;
                    }
                }
            }
        }
    }
    .slide_right_one{
        .owl-dots{
            position: absolute!important;
            bottom: 42px!important;
            left: 36px !important;
            display: none;
        } 
        .item{
            img{
                height: 223px;
                margin-bottom: 17px;
            }
        }
        .item_two{
            margin-top: 25px;
        }
        
        .text_item_one{
            position: absolute;
            bottom: 18px;
            left: 25px;
            color: $-color-while;
            font-size: 20px;
            font-family: $Arimo-Bold;
        }
    }
    .silde_right_two{
        .owl-dots{
            position: absolute!important;
            bottom: 42px!important;
            left: 36px !important;
            display: none;
        } 
        .item{
            img{
                height: 234px;
                @media screen and(max-width:567px){
                    width: 98%;
                }
                @media screen and(max-width:560px){
                    width: 99%;
                }
                @media screen and(max-width:550px){
                    width: 97%;
                }
                @media screen and(max-width:520px){
                    width: 95%;
                }
                @media screen and(max-width:510px){
                    width: 97%;
                }
                @media screen and(max-width:500px){
                    width: 99%;
                }
                @media screen and(max-width:490px){
                    width: 97%;
                }
                @media screen and(max-width:480px){
                    width: 99%;
                }
                @media screen and(max-width:470px){
                    width: 97%;
                }
                @media screen and(max-width:450px){
                    width: 99%;
                }
                @media screen and(max-width:440px){
                    width: 97%;
                }
                @media  screen and(max-width:410px){
                    width: 97%;
                }
                @media screen and(max-width:390px){
                    width: 99%;
                }
                @media screen and(max-width:380px){
                    width: 98%;
                }
            }
            .text_item_two{
                position: absolute;
                bottom: 18px;
                left: 25px;
                color: $-color-while;
                font-size: 20px;
                color: $soft-orange;
                font-family: $Arimo-Bold;
            }
        
        }
    }
}

.slogun{
    .item_text{
        width: 109%;
        background-color: $soft-orange;
        p{
            margin-top: 14px;
            margin-left: 8px;
            font-family: $Arimo-Bold;
        }
    }
    .item_text_three{
        background-color: $soft-orange;
        p{
            margin-top: 14px;
            margin-left: 21px;
            font-family: $Arimo-Bold;
        }
        img{
            @media screen  and(max-width:1199px){
                margin-top: -13px;
            }
            @media screen and(max-width:991px){
                padding-left: 9px;
                margin-top: -13px;
                margin-left: 8px;
                padding-right: 15px;
            }
        }
        @media screen and(max-width:1199px){
            height: 78px;
        }
        @media screen and(max-width:991px){
            padding-left: 62px;
        }
        @media screen and(max-width:470px){
            padding-left: 0px;
        }
        @media screen and(max-width:440px){
            padding-left: 0px;
        }
        @media screen and(max-width:430px){
            padding-left: 0px;
        }
        @media screen and(max-width:420px){
            padding-left: 0px;
        }
        @media screen and(max-width:417px){
            padding-left: 0px;
        }
        @media screen and(max-width:413px){
            padding-left: 0px;
        }
        @media screen and(max-width:410px){
            padding-left: 0px;
        }
        @media screen and(max-width:400px){
            padding-left: 0px;
        }
        @media screen and(max-width:390px){
            padding-left: 0px;
        }
        @media screen and(max-width:380px){
            padding-left: 0px;
        }
    }
    .first_slogun{
        @media screen and(max-width:1199px){
            width: 111%;
        }
        @media screen and(max-width:991px){
            width: 100%;
        }
        @media screen and(max-width:470px){
            padding-right: 59px;
        }
        @media screen and(max-width:390px){
            padding-right: 44px;
            margin-left: 0px;
        }
        img{
            @media screen and(max-width:991px){
                padding-right: 24px;
                padding-left: 14px;
            }
        }
    }
    .second_slogun{
        @media screen and(max-width:1199px){
            width: 111%;
        }
        @media screen and(max-width:991px){
            width: 100%;
            padding-right: 10px;
        }
        @media screen and(max-width:470px){
            padding-right: 66px;
        }
        img{
            @media screen and(max-width:991px){
                padding-right: 14px;
                padding-left: 10px;
            }
        }
    }
}

.customerFeel{
    background-color: $soft-orange;
    
    .gallery-top{
        .swiper-wrapper{
            .swiper-slide{
                .header_top{
                    h3{
                        font-family: $Monserrat-semilBold;
                    }
                    p{
                        font-family: $Arimo-regular;
                    }
                    text-align: center;
                    margin-top: 70px;
                }
                .feel_content{
                    text-align: center;
                    p{
                        font-family: $Arimo-regular;
                    }
                }
            }
        }
       
    }
    .gallery-thumbs{
        width: 250px !important;
        .swiper-slide{
            opacity: 0.3;
            width: 70px !important;
            // border: 1px solid black;
            // border-radius: 50%;
          
            img{
                // opacity: 0.4;
                width: 50px !important;
                height: 50px !important;
                border: 1px solid black;
                border-radius: 50%;
            }
        }
        .swiper-slide-thumb-active {
            opacity: 1;
            margin-bottom: 5px !important;
            img{
                width: 70px !important;
                height: 70px !important;
            }
        }
    }
    .swiper-button-prev{
        &:after{
            color: $-color-black;
            font-size: 20px;
        }
    }
}

    
   
  
.bestChoicee{
    position: relative;
    padding-bottom: 55px;
    h3{
        font-family: $Monserrat-semilBold;
    }
    .row_best_choice{
        padding-left: 15px;
        padding-right: 15px;
        .owl-carousel {
            .owl-nav{
                display: block;
                font-weight: bold;
                font-size: 36px;
                position: absolute;
                bottom: -10%;
                left: 38%;
                @media screen and(max-width:992px){
                    bottom: -6%;
                }
                @media screen and(max-width:991px){
                    bottom: -8%;
                    left: 31%;
                }
                @media screen and(max-width:848px){
                    left: 32%;
                }
                @media screen and(max-width:812px){
                    left: 33%;
                }
                @media screen and(max-width:767px){
                    top:  96%;
                    left: 28%;
                }
                @media screen and(max-width:690px){
                    left: 30%;
                }
                @media screen and(max-width:574px){
                    top: 97%;
                    left: 31%;
                }
                @media screen and(max-width:474px){
                    top:91%;
                    left: 22%;
                }
                @media screen and(max-width:431px){
                    top:95.5%;
                }
                @media scrren  and(max-width:410px){
                    left: 21%;
                }
                @media screen and(max-width:369px){
                    left: 15%;
                }
                @media screen and(max-width:320px){
                    left: 8%;
                    top: 93.5%;
                }
                
                .owl-prev{
                    margin-right: 200px;
                    outline: none;
                    &:hover{
                        background: white !important;
                        color: $-color-black;
                    }
                }
                .owl-next{
                    outline: none;
                    &:hover{
                        background: white !important;
                        color: $-color-black;
                    }
                }
            }
        }
        .owl-four{
            .owl-theme{
                .owl-dots{
                    display: none;
                }
            }
            .item_text{
                P{
                    margin-bottom: 0 !important;
                }
                h4,h5{
                    font-family: $Arimo-Bold;
                }
               
            }
            .item_text_one{
                padding-top: 12px;
                padding-bottom: 24px;
            }
            .item_text_two{
                margin-top: 6px;
                padding-top: 9px;
                padding-bottom: 24px;
                h5{
                    font-size: 21px;
                }
            }
            .item_text_three{
                font-size: 19px;
                padding-top: 17px;
                padding-bottom: 19px;
                @media screen and(max-width:767px){
                    margin-bottom: 6px;
                }
                @media screen and(max-width:431px){
                    margin-bottom: 0px;
                }
                h5{
                    @media screen and(max-width:767px){
                        margin-bottom: 24px;
                    }
                    @media screen and(max-width:431px){
                        margin-bottom: 11px;
                    }
                }
            }
            .item_text_four{
                padding-top: 0px;
                padding-bottom: 24px;
                h4{
                    font-size: 18px;
                    padding-top: 19px;
                }
            }
        }
    }
    .footer_button{
        font-family: $Arimo-Bold;
        position: absolute;
        padding: 5px 45px 5px 37px;
        bottom: 1.5%;
        left: 43%;
        background: $soft-orange;
        text-align: center;
        z-index: 999999999999;
        transition: all 0.8s;
        @media screen and(max-width:1200px){
            left: 42%;
        }
        @media screen and(max-width:1199px){
            left: 44%;
        }
        @media screen and(max-width:992px){
            left: 43%;
        }
        @media screen and(max-width:991px){
            left: 41%;
        }
        @media screen and(max-width:563px){
            left: 40%;
        }
        @media screen and(max-width:474px){
            left: 33%;
            bottom: 6.5%;
        }
        @media screen and(max-width:431px){
            bottom: 2.5%;
        }
        @media screen and(max-width:369px){
            left: 30%;
        }
        @media screen and(max-width:320px){
            left: 25%;
            bottom: 3.5%;
        }
        &:hover{
            background-color: $-color-black;
            color: $soft-orange;
            cursor: pointer;
            transition: all 0.8s;
        }
    }
    .select_choice{
        width: 70%;
        height: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        padding-bottom: 42px;
        padding-top: 29px;
        @media screen and(max-width:767px){
            width: 99%;
        }
        @media screen and(max-width:446px){
            font-size: 14px;
        }
        @media screen and(max-width:397px){
            font-size: 12px;
        }
        @media screen and(max-width:343px){
            font-size: 11px;
        }
        @media screen and(max-width:320px){
            font-size: 10px;
        }
        .select_item{
            a{
                color: $-color-black;
                padding-bottom: 5px;
                text-decoration: none;
                font-family: $Arimo-Bold;
                &:hover{
                    color: $soft-orange;
                    border-bottom: 3px solid $soft-orange;
                }
            }
        }
    }
}




.contact{
    position: relative;
    overflow: hidden;
    .container{
        .contact_form{
            form{
                position: absolute;
                right: 11%;
                bottom: 17%;
                @media screen and(max-width:1920px){
                    position: absolute;
                    right: 23%;
                    bottom: 17%;
                }
                @media screen and(max-width:1780px){
                    position: absolute;
                    right: 21%;
                    bottom: 17%;
                }
                @media screen and(max-width:1680px){
                    position: absolute;
                    right: 19%;
                    bottom: 17%;
                }
                @media screen and(max-width:1600px){
                    position: absolute;
                    right: 17%;
                    bottom: 17%;
                }
                @media screen and(max-width:1510px){
                    position: absolute;
                    right: 15%;
                    bottom: 17%;
                }
                @media screen and(max-width:1420px){
                    position: absolute;
                    right: 13%;
                    bottom: 17%;
                }
                @media screen and(max-width:1340px){
                    position: absolute;
                    right: 11%;
                    bottom: 17%;
                }
                @media screen and(max-width:1260px){
                    position: absolute;
                    right: 9%;
                    bottom: 17%;
                }
                @media screen and(max-width:1220px){
                    position: absolute;
                    right: 7%;
                    bottom: 17%;
                }
                @media screen and(max-width:1199px){
                    position: absolute;
                    right: 6%;
                    bottom: 10%;
                }
                @media screen and(max-width:1150px){
                    position: absolute;
                    right: 5%;
                    bottom: 10%;
                }
                @media screen and(max-width:1130px){
                    position: absolute;
                    right: 4%;
                    bottom: 10%;
                }
                @media screen and(max-width:1100px){
                    position: absolute;
                    right: 2%;
                    bottom: 10%;
                }
                @media screen and(max-width:1050px){
                    position: absolute;
                    right: 0%;
                    bottom: 10%;
                }
                @media screen and(max-width:1030px){
                    position: absolute;
                    right: -1%;
                    bottom: 10%;
                }
                @media screen and(max-width:1030px){
                    position: absolute;
                    right: -2%;
                    bottom: 10%;
                }
                @media screen and(max-width:991px){
                    font-size: 10px;
                    position: absolute;
                    right: 11%;
                    bottom: 8%;
                }
                @media screen and(max-width:990px){
                    font-size: 10px;
                    position: absolute;
                    right: 11%;
                    bottom: 8%;
                }
                @media screen and(max-width:920px){
                    font-size: 10px;
                    position: absolute;
                    right: 8%;
                    bottom: 8%;
                }
                @media screen and(max-width:900px){
                    font-size: 10px;
                    position: absolute;
                    right: 7%;
                    bottom: 8%;
                }
                @media screen and(max-width:870px){
                    font-size: 10px;
                    position: absolute;
                    right: 5%;
                    bottom: 8%;
                }
                @media screen and(max-width:830px){
                    font-size: 10px;
                    position: absolute;
                    right: 3%;
                    bottom: 8%;
                }
                @media screen and(max-width:767px){
                    font-size: 10px;
                    position: absolute;
                    right: 21%;
                    bottom: 8%;
                }
                @media screen and(max-width:720px){
                    font-size: 10px;
                    position: absolute;
                    right: 18%;
                    bottom: 6%;
                }
                @media screen and(max-width:690px){
                    font-size: 10px;
                    position: absolute;
                    right: 18%;
                    bottom: 9%;
                }
                @media screen and(max-width:640px){
                    font-size: 10px;
                    position: absolute;
                    right: 16%;
                    bottom: 7%;
                }
                @media screen and(max-width:570px){
                    font-size: 10px;
                    position: absolute;
                    right: 13%;
                    bottom: 9%;
                }
                @media screen and(max-width:530px){
                    font-size: 10px;
                    position: absolute;
                    right: 10%;
                    bottom: 6%;
                }
                @media screen and(max-width:510px){
                    font-size: 10px;
                    position: absolute;
                    right: 8%;
                    bottom: 4%;
                }
                @media screen and(max-width:496px){
                    font-size: 9px;
                    position: absolute;
                    right: 10%;
                    bottom: 6%;
                }
                @media screen and(max-width:480px){
                    font-size: 8px;
                    position: absolute;
                    right: 12%;
                    bottom: 5%;
                }
                @media screen and(max-width:470px){
                    font-size: 8px;
                    position: absolute;
                    right: 9%;
                    bottom: 3%;
                }
                @media screen and(max-width:450px){
                    font-size: 8px;
                    position: absolute;
                    right: 6%;
                    bottom: 2%;
                }
                @media screen and(max-width:440px){
                    font-size: 8px;
                    position: absolute;
                    right: 6%;
                    bottom: 1%;
                }
                @media screen  and(max-width:430px){
                    font-size: 6px;
                    position: absolute;
                    right: 14%;
                    bottom: 5%;
                }
                @media screen and(max-width:410px){
                    font-size: 6px;
                    position: absolute;
                    right: 10%;
                    bottom: 3%;
                }
                @media screen and(max-width:380px){
                    font-size: 6px;
                    position: absolute;
                    right: 8%;
                    bottom: 4%;
                }
                @media screen and(max-width:370px){
                    font-size: 6px;
                    position: absolute;
                    right: 14%;
                    bottom: 3%;
                }
                @media screen and(max-width:340px){
                    font-size: 6px;
                    position: absolute;
                    right: 9%;
                    bottom: 5%;
                }
                @media screen and(max-width:320px)
                {
                    font-size: 6px;
                    position: absolute;
                    right: 7%;
                    bottom: 4%;
                }
                h3{
                    color: $-color-while;
                    font-family: $Monserrat-semilBold;
                    font-size: 25px;
                    @media screen and(max-width:1199px){
                        font-size: 19px;
                    }
                    @media screen and(max-width:991px){
                        font-size: 14px;
                    }
                    @media screen and(max-width:767px){
                        margin-bottom: -2px;
                    }
                    @media screen and(max-width:510px){
                        font-size: 12px;
                    }
                    @media screen and(max-width:470px){
                        font-size: 12px;
                    }
                    @media screen and(max-width:460px){
                        font-size: 10px;
                    }
                    @media screen and(max-width:430px){
                        font-size: 8px;
                    }
                    @media screen and(max-width:410px){
                        font-size: 8px;
                    }
                    @media screen and(max-width:400px){
                        font-size: 7px;
                        margin-bottom: -7px;
                    }
                    @media screen and(max-width:360px){
                        margin-bottom: -3px;
                    }
                }
                .ho_ten{
                    margin-top: 10px;
                    @media screen and(max-width:767px){
                        margin-top: 15px;
                    }
                }
                .dia_chi{
                    margin-top: 25px;
                    @media screen and(max-width:991px){
                        margin-top: 15px;
                    }
                    @media screen and(max-width:360px){
                        margin-top:8px ;
                    }
                }
                .so_dien_thoai{
                    margin-top: 25px;
                    margin-bottom: 15px;
                    @media screen and(max-width:991px){
                        margin-top: 16px;
                        margin-bottom: 10px;
                    }
                    @media screen and(max-width:767px){
                        margin-bottom: 2px;
                    }
                    @media screen and(max-width:360px){
                        margin-top: 8px;
                    }
                }
                
                input{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 20px;
                    width: 100%;
                    color: $-color-while;
                    background: $-color-black;
                    font-weight: bold;
                    border: 1px solid $-while-border;
                    z-index: 1;
                    border-radius: 3% ;
                    // margin-top: 23px;
                    @media screen and(max-width:1199px){
                        width: 78%;
                    }
                    @media screen and(max-width:767px){
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }
                    @media screen and(max-width:430px){
                        padding-left: 5px;
                    }
                    &::placeholder{
                        color: $-color-while ;
                        font-weight: bold;
                        z-index:2;
                        opacity: 3;
                        font-family: $Arimo-regular;
                    }
                }
                .foot_form{
                    display: flex;
                    justify-content: center;
                    width: 108%;
                    align-items: center;
                    @media screen and(max-width:1199px){
                        width: 79%;
                    }
                    input{
                        width: 123px;
                        padding-left: 0px;
                        padding-bottom: 8px;
                        background: $soft-orange;
                        color: $-color-black;
                        border: 1px solid $soft-orange;
                        border-radius: 0 5% 0 5%;
                        @media screen  and(max-width:767px){
                            padding-bottom: 0px;
                            width: 86px;
                        }
                        @media screen and(max-width:430px){
                            width: 90px;
                        }
                        @media screen and(max-width:370px){
                            width: 52px;
                        }
                    }
                    .some_text{
                        margin-left: 25px;
                        width: 100%;
                        color: $softer-orange;
                        font-family: $Arimo-italic;
                    }
                }
            }

        }
       
    }
}

footer{
    background-color: $-color-black;
    p{
        font-family: $Arimo-regular;
    }
    h5{
        font-family:$Arimo-Bold ;
    }
    .container{
       
        .first_col{
            padding-top: 6%;
            //flex: 0 0 15%;
            max-width: 14%;
            @media screen and(max-width:991px){
                max-width: 100%;
            }
        }
        .second_col{
            .group_one_adress{
                margin-right: 35px;
                .email{
                    @media screen and(max-width:991px){
                        margin-top: 28px;
                    }
                    @media screen and(max-width:766px){
                        margin-top: 46px;
                    }
                }
            }
            p{
                @media screen and(max-width:1199px){
                    font-size: 12px;
                }
            }
            @media screen and(max-width:1199px){
                flex: 0 0 36.666667%;
            }
        }
        .padding_col{
            padding-top: 10%;
            //flex: -2 0 25%;
            P
            {
                color: $-color-while;
                margin-bottom: 10px !important;

            }            
            h5{
                color: $soft-orange;
            }
        }
           .col_two{
               margin-right: 35px;
               .suport_item{
                   p{
                    margin-bottom: 10px !important;
                    color: $-color-while; 
                   }
               }
           }
           .col_three{
               .product{
                   p{
                       color: white;
                       margin-bottom: 10px !important;
                   }
               }
           }
    }
  .final_footer{
      p{
          color: $-color-while;
      }
      .copy_right{
          margin-left: 19%;
          @media screen and(max-width:1199px){
              margin-left:-15%;
          }
          @media screen and(max-width:1145px){
              margin-left:-8%;
          }
          @media screen and(max-width:1130px){
              margin-left:-6%;
          }
          @media screen and(max-width:1120px){
              margin-left: -2%;
          }
          @media screen and(max-width:991px){
              margin-left: 0%;
          }
      }
      .social_icons{
          .connect_us{
            margin-right: 40px;
            margin-left: -46px;
            @media screen and(max-width:1199px){
                margin-right: 40px;
                margin-left: -103px;
            }
            @media screen and(max-width:1145px){
                margin-right: 40px;
                margin-left: -60px;
            }
            @media screen and(max-width:991px){
                margin-left: 0px;
            }
            p{
                @media screen and(max-width:362px){
                    font-size: 14px;
                    margin-top: 3px;
                }
                @media screen and(max-width:340px){
                    font-size: 13px;
                }
                @media screen and(max-width:327px){
                    font-size: 12px;
                }
            }
          }
          .group_icon{
              a{
                  i{
                    color: $soft-orange;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    border: 1px solid $soft-orange;
                    border-radius: 50%;
                    transition: all 0.5s;
                    &:hover{
                        background-color: $soft-orange;
                        color: $-color-black;
                        transition: all 0.5s
                    }
                  }
              }
              
              .fa-google-plus-g{
                  margin: 0 12px;
                  width: 30px;
                  height: 30px;
                  line-height: 30px;
                  text-align: center;
                  text-decoration: none;
                  border: 1px solid $soft-orange;
              }
              @media screen and(max-width:378px){
                  margin-left: -15px;
              }
          }
      }
  }
}

